.DS_Store
db.sqlite3
__pycache__
*.pyc
.idea/*
npm-debug.log
venv
exit
celerybeat-schedule
celery*.pid
api/management/commands/tests.py
coverage.xml
.coverage
media/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
